name: continuous integration

on:
  pull_request: 
  push:
  workflow_dispatch: 

permissions: {}

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
    - uses: actions/checkout@v6.0.2


    - run: |
        echo "yay"
        echo "yay"
    
    - uses: actions/upload-artifact@v6.0.0
      with:
      name: dist
       path: .
